include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              table.table.table-striped.table-advance.table-hover
                h4
                  | All Events
                  button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                    i.fa.fa-plus
                    |  Add Event
                thead
                  tr
                    th
                      i.fa.fa-bookmark
                      |  ID
                    th
                      i.fa.fa-dumbbell
                      |  Name
                    th
                      i.fa.fa-calendar-alt
                      |  Date
                    th
                      i.fa.fa-home
                      |  Branch
                    th
                      i.fa.fa-check-double
                      |  Availability
                    th
                      i.fa.fa-clock
                      |  Time
                    th
                      i.fa.fa-users
                      |  Slot Left
                    th
                      i.fa.fa-bookmark
                      |  Status
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  tr
                    td 1
                    td Body Building
                    td 07/05/2018
                    td All
                    td All
                    td 8:00AM - 9:00PM
                    td 51 
                    td
                      .switch(style='width:50px;', data-on-label="<i class=' fa fa-check'></i>", data-off-label="<i class='fa fa-times'></i>")
                        input(type='checkbox', checked='')
                    td
                      button.btn.btn-success.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Edit Account')
                        i.fa.fa-edit
                      button.btn.btn-danger.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently')
                        i.fa.fa-trash-alt
            // /content-panel
include ../../../../templates/foot
