section(id='main-content centered')
    div
        img.hey(src='../assets/img/summer.jpg')
        .topleft
            p Logo
        .middle
            h1 COMING SOON
            hr
            p 35 days
        .bottomleft
            p Some text
// /MAIN CONTENT