section(id='main-content centered')
    section.wrapper-table.site-min-height.centered-content.supercenter
        .lefty.splits
            .col-md-12.mt
                .content-panel
                    .col-md-12.mt
                        img(src='../assets/img/hmr.jpg', alt='Avatar', style='width:50%')
                        .centered
                            h4
                                b Homer Cadena
                            p MIT Student
                        br
                        .goleft
                            p
                                | Vivamusue feugiat arcu a urna sodales, vel scelerisque leo hendrerit. Sed sagittis finibus nibh, at fermentum libero semper non. Vestibulum vitae rhoncus sapien, ac mollis nulla.
                            br
                            p
                                | Nam at gravida urna. Etiam ut nulla blandit, molestie velit non, dapibus massa. Ut nunc sapie dolor. Proin mattis, risus elementum pellentesque congue, tortor nibh dignissim mi, quis sodales enim sapien sed risus. Duis eget posuere orci. Nam et laoreet quam. Vivamus congue finibus pretium. Aliquam imperdiet dapibus maximus.
                            br
                            table.table.table-hover
                                thead
                                    b Miscellaneous Info
                                br
                                tr
                                    td  Hobbies: 
                                    td  Dancing to "Walk It Like I Talk It" 
                                tr
                                    td  Zodiac Sign: 
                                    td  Leo 
                                tr
                                    td  Religion: 
                                    td  Anti-Christ 
        .righty.splits
            // GYM INFORMATION
            .col-md-12.mt
                .content-panel
                    table.table.table-hover
                        h4
                            i.fa.fa-dumbbell
                            |   Gym Information
                        br
                        tbody
                            tr
                                td
                                    b Trainer/s Enrolled:
                                td
                                    a(href='#') Alan Resnick
                                    | , 
                                    a(href='#') Anna Akana
                            tr
                                td
                                    b Current Class/es:
                                td Lower Body Training
                            tr
                                td
                                    b Interested Events:
                                td Calves Care: A Seminar
                            tr
                                td
                                    b Taken Promo/s:
                                td Summer Promo 2018
                            tr
                                td
                                    b Taken Discount/s:
                                td Student Discount
                            tr
                                td
                                    b Account Status:
                                td Active
            // /col-md-12
            // PERSONAL INFORMATION
            .col-md-12.mt
                .content-panel
                    table.table.table-hover
                        h4
                            i.fa.fa-address-card
                            |   Personal Information
                        br
                        tbody
                            tr
                                td
                                    b Birthdate
                                td August 13, 1998
                            tr
                                td
                                    b Sex
                                td Male
                            tr
                                td
                                    b City
                                td Quezon City
                            tr
                                td
                                    b Citizenship
                                td Filipino
                            tr
                                td
                                    b Marital Status
                                td Single
                            tr
                                td
                                    b Occupation
                                td Student
            // /col-md-12
// /MAIN CONTENT
