section(id='main-content centered')
    section.wrapper.site-min-height
        br
        br
        .centered.alert.alert-warning
            | Uh oh! Looks like you haven't applied for a 
            strong
                a(href='#') Personal Trainer
            |  yet!
        br
        br
        br
        br
        br
        br
        br
        br
        br
        .centered
            a.btn.btn-primary.btn-lg(href='trainers.html', target='_blank') Get Started!
// /MAIN CONTENT