section#container
    //
        **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        ***********************************************************************************************************************************************************
    // header start
    header.header.black-bg
        // logo start
        a.logo(href='dash.html')
            b A-Team Fitness
        ul.top-menu
            li
                a.nav.notify-row(href='profile.html') Profile
            li
                a.nav.notify-row(href='trainers.html') Trainers
            li
                a.nav.notify-row(href='classevent.html') Classes & Events
            li
                a.nav.notify-row.active(href='rates.html') Rates
            li
                a.notify-row.log-out(href='#') Logout
    // header end
    //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
    // sidebar start
    aside
    // sidebar end
    //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
    // main content start
    section(id='main-content centered')
        section.wrapper.site-min-height
    // /MAIN CONTENT
