include ../../client

block body
    section(id='main-content centered')
        section.wrapper.site-min-height
            .row.mt.centered
                h3
                    strong TRAINERS
                .search-container
                    form(action='#')
                        input.t-search(type='text', name='search', placeholder='Search...')
                        button(type='submit')
                            i.fa.fa-search
                .col-lg-4.col-md-4.col-sm-4.mb
                    .content-panel.pn
                        .ptt-01(style='background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../assets/img/trainers/alan.jpg) no-repeat center top;')
                            h3.panelh3 Alan Resnick
                            h6.panelh6 VISUAL PERFORMANCE TRAINER
                        .viewProfile.centered
                            p.panelP VIEW PROFILE
                        div
                            h6.centered
                                strong Other specialties include:
                                br
                                | 3D Editing and Filmmaking
                .col-lg-4.col-md-4.col-sm-4.mb
                    .content-panel.pn
                        .ptt-01(style='background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../assets/img/trainers/anna.jpg) no-repeat center top;')
                            h3.panelh3 Anna Akana
                            h6.panelh6 YOGA TRAINER
                        .viewProfile.centered
                            p.panelP VIEW PROFILE
                        div
                            h6.centered
                                strong Other specialties include:
                                br
                                | Moral Talks and Acting
                .col-lg-4.col-md-4.col-sm-4.mb
                    .content-panel.pn
                        .ptt-01(style='background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../assets/img/trainers/aparna.jpg) no-repeat center top;')
                            h3.panelh3 Aparna Nancherla
                            h6.panelh6 SATIRE TRAINER
                        .viewProfile.centered
                            p.panelP VIEW PROFILE
                        div
                            h6.centered
                                strong Other specialties include:
                                br
                                | Comedic debate, Depression Talks, New York Guidance, Satire Expertise
    // /MAIN CONTENT
