extends ../../../templates/head

block main

	#login-page
		.container
			form.form-login(method="POST", action='/login')
				h2.form-login-heading Log In
				.login-wrap
					input.formcontrol(type='text', placeholder='User ID', autofocus='', name="userID")
					br
					input.formcontrol(type='password', placeholder='Password', name="password")
					label.checkbox
						span.pull-right
							a(data-toggle='modal' href='sample.pug')  Forgot Password?
					button.btn.btn-theme.btn-block(href='dash.html', type='submit')
						i.fa.fa-lock
						|  SIGN IN
					hr
					.registration
						| No account yet? Sign up now for free!
						br
						a(href='sample.pug') Create an account

				#myModal.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
								h4.modal-title Forgot Password ?
							.modal-body
								p Enter your e-mail address below to reset your password.
								input.form-control.placeholder-no-fix(type='text', name='email', placeholder='Email', autocomplete='off')
							.modal-footer
								button.btn.btn-default(data-dismiss='modal', type='button') Cancel
								button.btn.btn-theme(type='button') Submit
//- include ../../../templates/foot