include ../../../templates/mem-head

block main   
  section(id='main-content centered')
    section.wrapper.site-min-height
      .row.mt.centered
        h3
          strong CLASSES AND EVENTS
        .search-container
          form(action='#')
            input.t-search(name='search', placeholder='Search...', type='text')
            button(type='submit')
              i.fa.fa-search
        // -- First Panel --
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn
            .ptt-01(style='background: black;')
              h3.panelh3 YOGA
              h6.panelh6 MON/THU - 4:00PM-6:30PM
            .viewProfile.centered
              p.panelP VIEW CLASS
            .bottom-pan
              h6.centered.bottom-pan-text
                strong Class Description:
                br
                | Para maging jelly gorls yung mga ano haha customers
        // -- Second Panel --
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn
            .ptt-01(style='background: black;')
              h3.panelh3 KICKBOXING
              h6.panelh6
                | SAT/SUN - 1:30PM-4:30PM
                br
                | TUE/FRI - 8:00AM-10:30AM
            .viewProfile.centered
              p.panelP VIEW CLASS
            .bottom-pan
              h6.centered.bottom-pan-text
                strong Class Description:
                br
                | Fighting types lang pwede mag-enroll dito mga deputa kayo haha emoji
        // -- Third Panel --
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn
            .ptt-01(style='background: black;')
              h3.panelh3 PISIKALAN: Bodybuilding Contest
              h6.panelh6 SUN - 6:00PM-8:00PM
            .viewProfile.centered
              p.panelP VIEW EVENT
            .bottom-pan
              h6.centered.bottom-pan-text
                strong Event Description:
                br
                | Flexing competiton to mga soeurs hahahaha kung di kayo marunong magflex ano wag kayo dito
        // --Fourth Panel --
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn
            .ptt-01(style='background: black;')
              h3.panelh3 PILATE HACKS
              h6.panelh6 WED - 3:00PM-5:00PM
            .viewProfile.centered
              p.panelP VIEW EVENT
            .bottom-pan
              h6.centered.bottom-pan-text
                strong Event Description:
                br
                | Anything about pilates are fun as hell. So why not enroll at this course lmao we have free sandwiches for y'all
        // --Fifth Panel --
        .col-lg-4.col-md-4.col-sm-4.mb
          .content-panel.pn
            .ptt-01(style='background: black;')
              h3.panelh3 STRENGTH TRAINING
              h6.panelh6 FRI - 10:30AM-1:30PM
            .viewProfile.centered
              p.panelP VIEW CLASS
            .bottom-pan
              h6.centered.bottom-pan-text
                strong Event Description:
                br
                | Ano pisikalan to pre ano kahit na uminom ka ng putanginang gin sa gym puta di ka magtatagal haha reacts only
    // --/wrapper --
  // /MAIN CONTENT
  
include ../../../templates/foot