include ../../../templates/mem-head

block main   
  section(id='main-content centered')
    section.wrapper-table.site-min-height.centered-content.supercenter
      .lefty.splits
        .col-md-12.mt
          .content-panel
            .col-md-12.mt
              img(src='../../../assets/img/hmr.jpg', alt='Avatar', style='width:50%')
              .centered
                h4
                  b Homer Cadena
                a(href='#') Edit Profile
              br
              .goleft
                h4
                  i.fa.fa-dumbbell
                  |   Personal Information
                br
                table.table.table-hover
                  tbody
                    tr
                      td
                        b Address:
                      td  42 Pulangui St., NPC Village, Tandang Sora, Quezon City 
                    tr
                      td
                        b Sex:
                      td  Male 
                    tr
                      td
                        b Birthdate:
                      td  August 13, 1998 
      .righty.splits
        // GYM INFORMATION
        .col-md-12.mt
          .content-panel
            h4
              i.fa.fa-dumbbell
              |   Membership Information
            br
            b   Membership Type
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            ul.centered
              a(href='#') [Upgrade]
              a(href='#')  [Freeze]
              a(href='#')  [Suspend]
            table.table.table-hover
              thead
              tbody
                tr
                tr
                tr
                  td
                    b Trainer/s Enrolled:
                  td
                    a(href='#') Rafhael Pabustan
                    | , 
                    a(href='#') Homer Cadena
                tr
                  td
                    b Member Since
                  td September 26, 2017
                tr
                  td
                    b Membership Expiry: 
                  td March 26, 2017
        // /col-md-12
  // /MAIN CONTENT

include ../../../templates/foot