extends ./sub-head

block main
	script.
		$(document).ready(function(){
			var pathname = window.location.pathname;
			$('ul > li > ul > li a[href="'+pathname'"]').parent().addClass('active').siblings()removeClass('active');
		})
		$(document).ready()=>{
			$sidebar = $('sidebar');
		}

	section#container
	// header start
	header.header.black-bg
		.sidebar-toggle-box
			.fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
		// logo start
		a.logo(href='/')
			//- img(src='../../assets/img/barbell.png', height='30px' width='30px')
			b  A-Team Fitness
		// logo end
		.top-menu
			ul.nav.pull-right.top-menu
				li
					a.logout(href='/logout') Logout
	aside
	#sidebar.nav-collapse
		// sidebar menu start
		ul#nav-accordion.sidebar-menu
			p.centered
				a(href='/')
					img.img-circle(src='../assets/img/friends/fr-03.jpg', width='60')
			h5.centered ADMIN
			li.mt
				a.active(href='/')
					i.fa.fa-tachometer-alt
					span Dashboard
			li.sub-menu
				a(href='javascript:;')
					i.fa.fa-wrench
					span Maintenance
					i.fa.fa-caret-down(style='margin-left:5px;')
				ul.sub
					li
						a(href='/staff') Staffs
					li
						a(href='/branch') Branch
					li
						a(href='/classes') Classes
					//li
						//a(href='/program') Programs
					li
						a(href='/specialization') Specialization
					li
						a(href='/trainer') Trainers
					li
						a(href='/discount') Promo
					li
						a(href='/category') Membership Category
					li.sub-menu
						a(href='javascript:;')
							span Rates
							i.fa.fa-caret-down(style='margin-left:5px;')
						ul.sub
							li
								a(href='/membership') Membership Fee
							li
								a(href='/facility') Facility Rates
							li
								a(href='/general') General Fees
				li.sub-menu
					a(href='javascript:;')
						i.fa.fa-book
						span Transaction
						i.fa.fa-caret-down(style='margin-left:5px;')
					ul.sub
						li
							a(href='/pending') Pending Request
						li.sub-menu
							a(href='javascript:;')
								span Members
								i.fa.fa-caret-down(style='margin-left:5px;')
							ul.sub
								li
									a(href='/regular') Regular
								li
									a(href='/freezed') Freezed
						li.sub-menu
							a(href='javascript:;')
								span Trainer Assignment
								i.fa.fa-caret-down(style='margin-left:5px;')
							ul.sub
								li
									a(href='/personal') Personal Training
								li
									a(href='/t-class') Group Classes
						li
							a(href='/t-event') Event
						li
							a(href='/payment') Payment
						li
							a(href='/revenue') Revenue
				li.sub-menu
					a(href='/user')
						i.fa.fa-user
						span User Profile
				li.sub-menu
					a(href='/utilities')
						i.fa.fa-cogs
						span Utilities
				li.sub-menu
					a(href='/reports')
						i.fa.fa-th
						span Report

