extends ./sub-head

block main
	section#container
	// header start
	header.header.black-bg
		.sidebar-toggle-box
			.fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
		// logo start
		a.logo(href='/staff/dashboard')
			//- img(src='../../assets/img/barbell.png', height='30px' width='30px')
			b  A-Team Fitness
		// logo end
		.top-menu
			ul.nav.pull-right.top-menu
				li
					a.logout(href='/logout') Logout
	aside
	#sidebar.nav-collapse
		// sidebar menu start
		ul#nav-accordion.sidebar-menu
			p.centered
				a(href='/staffs/dashboard')
					img.img-circle(src='/assets/img/friends/fr-03.jpg', width='60')
			h5.centered STAFF
			li.mt
				a.active(href='/staffs')
					i.fa.fa-tachometer-alt
					span Dashboard
				li.sub-menu
					a(href='javascript:;')
						i.fa.fa-book
						span Transaction
						i.fa.fa-caret-down(style='margin-left:5px;')
					ul.sub
						li
							a(href='/staffs/pending') Pending Request
						li.sub-menu
							a(href='javascript:;')
								span Members
								i.fa.fa-caret-down(style='margin-left:5px;')
							ul.sub
								li
									a(href='/staffs/regular') Regular
								li
									a(href='/staffs/freezed') Freezed
						li
							a(href='/staffs/personal') PT Assignment
						li
							a(href='/staffs/payment') Payment
				li.sub-menu
					a(href='/staffs/user')
						i.fa.fa-user
						span User Profile
				li.sub-menu
					a(href='/staffs/reports')
						i.fa.fa-th
						span Report

